.title {
    margin-bottom: var(--mantine-spacing-5xl);

    @media screen and ($mantine-breakpoint-md) {
        margin-bottom: var(--mantine-spacing-xl);
        font-size: var(--mantine-font-size-xl);
    }
}

.cardsWrapper {
  display:flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 0 30%;
  text-align: center;
  box-sizing: border-box;
  aspect-ratio: 1 / 1.525;

    @media (max-width: 1328px) {
      flex: 1 0 48%;
    }

    @media (max-width: 860px) {
      flex: 1 0 100%;
    }
}

.cardText {
    font-size: var(--mantine-font-size-sm);

    @media screen and ($mantine-breakpoint-lg) {
        font-size: var(--mantine-font-size-md);
    }
}

.cardTextBlock {
    margin-bottom: var(--mantine-spacing-xl);
}

.cardList {
    list-style: initial;
    padding-left: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-lg);
}
