.root {
    background-color: var(--footer-bg-color);
    padding: 0 var(--mantine-spacing-5xl);
    font-family: SBSansText, sans-serif;
    color: var(--mantine-gray-9);

    @media screen and ($mantine-breakpoint-md) {
      padding: 0 var(--mantine-spacing-xl);
    }
}

.container {
    margin: 0;
}

.top {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
    display: flex;
    justify-content: space-between;

    @media screen and ($mantine-breakpoint-md) {
        flex-direction: column;
    }
}

.link {
    margin-right: 100px;
    color: inherit;

    &:first-child {
      cursor: pointer;
    }

    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    @media screen and ($mantine-breakpoint-md) {
        margin-right: 0;
        margin-bottom: var(--mantine-spacing-md);

        span {
          font-size: 14px;
          line-height: 20px
        }
    }
}

