.content {
    margin-bottom: var(--mantine-spacing-5xl);

    @media screen and ($mantine-breakpoint-sm) {
        margin-bottom: 21px;
    }
}

.carousel {
    display: flex;
    flex-direction: column;

    :global(.mantine-Carousel-indicators) {
        position: static;
        padding: var(--mantine-spacing-2xs) 0;
    }

    :global(.mantine-Carousel-viewport) {
        overflow: visible;
    }
}

.slide {
    height: 708px;

    @media screen and ($mantine-breakpoint-sm) {
        height: 475px;
    }
}

.titlePagination {
    @media screen and ($mantine-breakpoint-sm) {
        display: none;
    }
}

.bottomPagination {
    display: none;

    @media screen and ($mantine-breakpoint-sm) {
        display: flex;
        justify-content: flex-end;
    }
}
