.drawer {
    flex-direction: column;
}

.drawerHeader {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: var(--mantine-spacing-xl);
    min-height: 0;
}

.drawerTitle {
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
    padding: var(--mantine-spacing-md) 0;
}

.drawerContent {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    height: 631px;
    flex: 1;
}

.factTextWrapper {
    display: block;
    background: 0;
    padding: 0;
}

.factTitle {
    font-size: var(--mantine-font-size-md);
    font-weight: 600;

    @media screen and ($mantine-breakpoint-md) {
        text-align: center;
        margin-bottom: var(--mantine-spacing-xl);
    }
}

.factText {
    font-size: var(--mantine-font-size-2xs);
}

.drawerBody {
    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-3xl);
    height: 100%;
}

.buttons {
    margin-top: auto;
}

.button {
    padding: var(--mantine-spacing-xs) 0;
    border-radius: var(--mantine-radius-md);
}

.closeButton {
    margin-bottom: var(--mantine-spacing-xs);
}

:global(.button).drawerCloseButton {
    color: var(--mantine-color-gray-9);
    background-color: var(--mantine-color-white);
    border-radius: 50%;
    width: 32px;
    height: 32px;

    .closeIcon {
        --cb-icon-size: 32px;
        padding: 5px;
    }

    &:hover {
        color: var(--mantine-color-gray-9);
        background-color: var(--mantine-color-gray-1);
    }

    &:active {
        color: var(--mantine-color-gray-9);
        background-color: var(--mantine-color-gray-2);
    }
}
