.content {
    display: flex;
    flex-direction: column;
}

.innerContent {
    display: flex;
    gap: 24px;

    @media screen and (max-width: 960px) {
        flex-direction: column;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    flex: 1 0 49%;
    gap: 24px;

    @media screen and ($mantine-breakpoint-sm) {
        order: 2;
    }
}

.mobileCard {
    display: none;
    width: 100%;

    @media screen and ($mantine-breakpoint-md) {
        display: block;
    }
}

.icon {
    fill: var(--mantine-color-green-9);
    width: 48px;
    height: 48px;

    @media screen and ($mantine-breakpoint-sm) {
        width: 36px;
        height: 36px;
    }
}

.button {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-3xl);
    font-size: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-xl);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-3xl);
    flex: 1 0 49%;
    position: relative;

    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-3xl);
    background-color: var(--mantine-color-gray-0);

    max-width: 49%;

    @media screen and (max-width: 960px) {
      flex-direction: row;
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 16px;
      gap: 24px;
    }
}

.imageWrapper {
  width: 100%;
  max-width: 708px;
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  
  .image {
    object-position: top center;
    height: auto;
    width: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 960px) {
    flex: 1 0 40%;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-3xl);

  @media screen and (max-width: 768px) {
    gap: 24px;
  }
}

.title {
  white-space: pre;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;

  @media screen and ($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-lg);
  }
}

.description {
  font-size: var(--mantine-font-size-sm);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.button {
  width: fit-content;
}