.root {
    margin-bottom: 124px;
    padding: 0 var(--mantine-spacing-5xl);
    overflow: hidden;

    @media screen and ($mantine-breakpoint-xl) {
        padding: 0 var(--mantine-spacing-6xl);
    }

    @media screen and ($mantine-breakpoint-md) {
        padding: 0 var(--mantine-spacing-3xl);
    }

    @media screen and ($mantine-breakpoint-sm) {
        margin-bottom: var(--mantine-spacing-5xl);
        padding: 0 var(--mantine-spacing-sm);
    }

    @media screen and ($mantine-breakpoint-xs) {
        margin-bottom: var(--mantine-spacing-3xl);
    }
}

.title {
    font-family: 'SBSansDisplay', sans-serif;
    font-weight: 600;
    margin-bottom: var(--mantine-spacing-5xl);

    @media screen and ($mantine-breakpoint-xs) {
        margin-bottom: var(--mantine-spacing-xl);
        font-size: var(--mantine-font-size-xl);
    }
}
