.root {
    margin-bottom: 96px;
    padding: 0 var(--mantine-spacing-6xl);
    overflow: hidden;

    @media screen and ($mantine-breakpoint-md) {
        padding: 0 var(--mantine-spacing-5xl);
    }

    @media screen and (max-width: 480px) {
      padding: 0 16px;
    }

    @media screen and ($mantine-breakpoint-sm) {
        margin-bottom: var(--mantine-spacing-5xl);
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 76px;
        padding: 0 var(--mantine-spacing-md);
    }
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mantine-spacing-xl);

    @media screen and ($mantine-breakpoint-xs) {
        margin-bottom: var(--mantine-spacing-xl);
    }
}

.title {
    font-family: 'SBSansDisplay', sans-serif;
    font-weight: 600;

    @media screen and ($mantine-breakpoint-sm) {
        font-size: var(--mantine-font-size-xl);
    }
}
