.root {
    background-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-3xl);

    @media screen and ($mantine-breakpoint-sm) {
        padding: var(--mantine-spacing-xl);
    }
}

.titleWrapper {
    display: flex;
    align-items: center;
    margin-bottom: var(--mantine-spacing-xl);
}

.iconWrapper {
    margin-right: var(--mantine-spacing-xl);
}

.title {
    white-space: pre;
    font-size: var(--mantine-font-size-3xl);
    font-weight: 600;
    line-height: var(--mantine-line-height-sm);

    @media screen and ($mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-lg);
    }
}

.description {
    font-size: var(--mantine-font-size-xs);
}
