.button {
    border: none;
    background: none;
    outline: none;
    opacity: 0.5;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.active {
    opacity: 1;
}

.image {
  max-width: 203px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
